
indoor_sports/indoor_sports/settings.py
C:\Software-engineering-project\indoor_sports\accounts
C:\Software-engineering-project\indoor_sports\bookings
C:\Software-engineering-project\indoor_sports\equipment
C:\Software-engineering-project\indoor_sports\login
C:\Software-engineering-project\indoor_sports\memberships
C:\Software-engineering-project\indoor_sports\my_referrals
C:\Software-engineering-project\indoor_sports\notifications
C:\Software-engineering-project\indoor_sports\payments
C:\Software-engineering-project\indoor_sports\ratings
C:\Software-engineering-project\indoor_sports\registration
C:\Software-engineering-project\indoor_sports\static
C:\Software-engineering-project\indoor_sports\templates
