
indoor_sports/indoor_sports/settings.py
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/dashboards
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/equipment
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/accounts
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/login
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/memberships
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/my_referrals
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/notifications
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/payments
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/ratings
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/registration
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/sports
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/static
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/base.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/home.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/login.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/password_reset_confirm.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/password_reset.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/register_admin.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/register_user.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/send_admin_invite.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/send_email.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/templates/send_user_invite.html
/Users/anupamabandoju/Desktop/Software-engineering-project/indoor_sports/indoor_sports/.env