{% extends 'base_admin.html' %}
{% block content %}
<div class="glass-card p-4 mt-4">
    
    <h1>Delete Booking</h1>
    <a href="{% url 'admin_manage_bookings' %}" class="btn btn-secondary mb-2">Back to Manage Bookings</a>
    <p>Are you sure you want to delete booking {{ booking_id }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
        <a href="{% url 'admin_list_bookings' %}">Cancel</a>
    </form>
    
</div>
{% endblock %}