{% extends "base.html" %}
{% block title %}Confirm Booking{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Confirm Your Booking</h2>
    <div class="glass-card p-4 mt-4">
        <p><strong>Date:</strong> {{ slot.date }}</p>
        <p><strong>Time:</strong> {{ slot.time|time:"H:i" }}</p>
        <p><strong>Slot Type:</strong> {{ slot.slot_type }}</p>
        <p><strong>Location:</strong> {{ slot.location.name }}</p>
        <p><strong>Sport:</strong> {{ slot.sport.name }}</p>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
            <button type="button" onclick="window.history.back()" class="btn btn-secondary">Back</button>
            <button type="submit" class="btn btn-primary">Proceed To Payment</button>
        </div>
    </form>
    <div class="mt-3">
        <!-- Updated link to select equipment page -->
        <a href="{% url 'select_equipment' slot.location.location_id slot.slot_id %}" class="btn btn-success">Select Equipment</a>
    </div>
    
</div>
{% endblock %}