{% extends "base.html" %}{% load static %}

{% block title %}Confirm New Membership{% endblock %}

{% block content %}
<div class="container py-5 position-relative">
    <div class="glass-card p-4 mt-4">
    <h1 class="text-center mb-4">Confirm New Membership</h1>
    <div class="glass-card p-4 mt-4 style="width: 90%; max-width: 600px;">
        <div class="card-body text-center">
            <h4>Plan: {{ plan_name }}</h4>
            {% if active_membership %}
                <p>Your current plan: <strong>{{ active_membership.plan }}</strong></p>
                <p>Current plan ends on: <strong>{{ active_membership.end_date }}</strong></p>
                <p>Your new plan will start after the current one ends.</p>
            {% else %}
                <p>This plan will start immediately as you have no active membership.</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="confirm-new-plan" class="btn btn-primary">Confirm Purchase</button>
                </form>
            </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}

