{% extends "base.html" %}

{% block title %}Payment Failed{% endblock %}

{% block content %}
<div class="glass-container">
    <h2>Payment Failed</h2>
    <p>Unfortunately, there was an issue with your payment. Please try again later or contact support if the issue persists.</p>
    
    {% if booking %}
        <a href="{% url 'payment_failed' %}?booking_id={{ booking.booking_id }}" class="glass-btn">Go back to Payment Page</a>
    {% else %}
        <p>Booking not found.</p>
    {% endif %}
</div>
{% endblock %}




