{% extends "base.html" %}
{% load static %}
{% block title %}Sports List{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="glass-card p-4 mt-4">
        <h1 class="text-center mb-4">Sports List</h1>
        <ul class="list-unstyled">
            {% for sport in sports %}
                <li class="mb-2">
                    <strong>Sport:</strong> {{ sport.name }} | 
                    <strong>Category:</strong> {{ sport.category }} | 
                    <strong>Description:</strong> {{ sport.description }}
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
</div>
{% endblock %}
