<!-- templates/membership/update_membership.html -->
{% extends "base.html" %}
{% block content %}
<div class="glass-card fade-in">
    <div class="glass-card p-4 mt-4">
    <h2 class="text-center">Update Membership</h2>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
    </form>
    
    <a href="{% url 'membership_plan_list' %}" class="btn btn-sm btn-secondary">Cancel</a>
    </div>
</div>
{% endblock %}
