{% extends "base.html" %}
{% load static %}

{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="glass-card p-4 mt-4">
        <h1 class="text-center mb-4">User Dashboard</h1>

        <!-- Display Referral Points -->
        <div class="glass-card p-4 mt-4">
            <div class="card-body text-center">
                <h3 class="text-center">Earn credits by inviting your friends!</h3>
                <h4 class="text-center">You have $ <strong>{{ referral_points }}</strong> credits</h4>
            </div>
        </div>

        <!-- Navigation Cards -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="glass-card p-4 mt-4">
                    <div class="card-body text-center">
                        <h4>My Bookings</h4>
                        <a href="{% url 'my_bookings' %}" class="btn btn-primary">View My Bookings</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="glass-card p-4 mt-4">
                    <div class="card-body text-center">
                        <h4>My Referrals</h4>
                        <a href="{% url 'my_referrals' %}" class="btn btn-primary">My Referrals</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="glass-card p-4 mt-4">
                    <div class="card-body text-center">
                        <h4>My Membership</h4>
                        <a href="{% url 'membership_dashboard' %}" class="btn btn-primary">My Membership</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="glass-card p-4 mt-4">
                    <div class="card-body text-center">
                        <h4>Update Profile</h4>
                        <a class="btn btn-primary" href="{% url 'edit_profile' %}">Update Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="glass-card p-4 mt-4">
                    <div class="card-body text-center">
                        <h4>Change Password</h4>
                        <a class="btn btn-primary" href="{% url 'password_reset' %}">Change Password</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>

{% endblock %}
