{% extends "base.html" %}
{% block title %}{{ user.firstname }}'s Profile{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">{{ user.firstname }}'s Profile</h1>

    <!-- Avatar Section -->
    <div class="card mb-4 text-center">
        <div class="card-body">
            <h4>Avatar</h4>
            {% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" alt="User Avatar" class="img-fluid mt-2 rounded-circle" style="max-height: 150px;">
            {% else %}
                <p>No avatar uploaded.</p>
            {% endif %}
        </div>
    </div>

    <!-- Profile Information Table -->
    <div class="card mb-4">
        <div class="card-body">
            <h4 class="mb-3">Profile Information</h4>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.emailid }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Contact Number</th>
                        <td>{{ user.contactnumber }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{ user.city }}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{ user.state }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{ user.country }}</td>
                    </tr>
                    <tr>
                        <th>ZIP Code</th>
                        <td>{{ user.zip_code }}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{ user.gender }}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

    <!-- Edit Profile Button -->
    <div class="text-center">
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
    </div>
</div>
{% endblock %}
